*.root
*.pdf
*.log
report/
/.vs/slnx.sqlite
/.vs/Run3Analysisvalidation/v16/Browse.VC.opendb
/.vs/Run3Analysisvalidation/v16/Browse.VC.db-wal
/.vs/Run3Analysisvalidation/v16/Browse.VC.db-shm
/.vs/Run3Analysisvalidation/v16/Browse.VC.db
/.vs/ProjectSettings.json
